.Common-Title{
  text-align: center;
}

.Common-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Common-logo {
    animation: Common-logo-spin infinite 20s linear;
  }
}

.Common-margin {
  min-height: 8vh;
}

.Common-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: #6d6d6d;
}

.Common-greeting {
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: #6d6d6d;
}

.Common-link {
  color: #6d6d6d;
  font-weight: 600;
}

.Common-bg{
  color: #e7e0d3;
}

@keyframes Common-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

